header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 60px 20px;
    position: fixed;
}

.header-left {
    color: cornsilk;
}

// .header-right {}

ul {
    display: flex;
    // justify-content: space-between;
    list-style: none;
    margin-right: 50px;
}

li{
    margin-left: 20px;

    a {
        color: cornsilk;
        text-decoration: none;
        
    }
}