
*{
    margin: 0;
    padding: 0;
}
//font変数
$font-family: 'Lobster', cursive;

@import "_header";
@import "_footer";



// 入力お願いします
body {
    background-color: black;
}

.top-page {
    width: 100vw;
    height: 700px;
    background-image: url(../img/_.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.gallery img {
    width: 300px;
    height: 360px;

    padding-top: 20px;
    padding-left: 20px;
}
.main {
    text-align: center;
}
.main img {
    width: 80vw;
    height: 80vh;
    padding-top: 20px; 
}
.large-size {
        padding: 305px 365px;
    }
h2 {
    color: white;
}


