*{
    margin: 0;
    padding: 0;
}
@import "_header";
@import "_footer";

header{
    background-image: url(../img/_.jpeg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

// 入力お願いします

.top-page {
    width: 100vw;
    height: 700px;
    background-image: url(../img/_.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
